<div class="skills-container" id="skills">
  <div class="skills-heading">
    <h1>Skills & Certifications</h1>
    <div class="underline"></div>
  </div>

  <div class="skills-grid">
    <div class="skills-category">
      <h2>Frontend</h2>
      <ul>
        <li>Angular</li>
        <li>JavaScript</li>
        <li>Swing (Java)</li>
      </ul>
    </div>

    <div class="skills-category">
      <h2>Backend</h2>
      <ul>
        <li>Java</li>
        <li>Spring Boot</li>
        <li>REST API</li>
        <li>JWT</li>
        <li>OOPS / OOP</li>
      </ul>
    </div>

    <div class="skills-category">
      <h2>Database</h2>
      <ul>
        <li>MSSQL</li>
        <li>PostgreSQL</li>
      </ul>
    </div>

    <div class="skills-category">
      <h2>DevOps / Infra</h2>
      <ul>
        <li>Apache Tools</li>
      </ul>
    </div>

    <div class="skills-category" id="skill-secondrow">
      <h2>Misc Tools</h2>
      <ul>
        <li>Postman</li>
        <li>GitHub</li>
        <li>Excel</li>
      </ul>
    </div>

    <div class="skills-category" id="skill-secondrow">
      <h2>Certifications</h2>
      <ul>
        <li>GATE Qualified</li>
        <li>Spring Boot + Java Backend Development</li>
        <li>SQL / DBMS Certifications</li>
        <li>Web Development & GitHub Workflow</li>
      </ul>
    </div>
  </div>
</div>
