<section id="home" class="home-section">
  <div class="left-content">
    <h1 class="main-heading">Hi, I'm <span class="highlight">PRAYAG GARG</span></h1>
    <p class="tagline">Automation Engineer | Full Stack Developer | Tech Innovator</p>
    <p>
      I’m an MCA graduate and Full Stack Developer with 3+ years of experience. Originally from a Mechanical Engineering background, I took the unconventional path — dropped out from IIT prep, qualified GATE, and transitioned into tech with a passion for building real-world systems.
    </p>
    <p>
      From creating industrial automation tools to designing production dashboards and scalable web apps using Angular and Spring Boot — I bridge code with impact.
    </p>
    <button class="contact-btn" (click)="scrollToContact()">Let's Connect</button>
  </div>

  <div class="right-content">
    <img src="assets/Prayag.png" alt="VISION Image" />
  </div>
</section>
